th {
  text-align:center;
}

table {
  vertical-align:middle;
}

/* .jumbotron {
  background-color:transparent !important; 
} */

.input-group-addon.first {
  min-width:85px;
  text-align:center;
}

.input-group-addon.second {
  min-width:40px;
  text-align:center;
}

.input-group-btn {
  min-width:100px;
  text-align:center;
}

.card-title.center-all {
  margin: auto;
  text-align: center;
}